{% extends "home.html" %}
{% block title %}

{% endblock %}
{% block content %}


        <h2 class="ajout"><a href="/acteur/formulaire_acteur">Ajouter un acteur</a></h2>
{% for l in acteurs %}
        <article class="info_film">Voici la liste des acteur  :




             <li> l'acteur aparait dans le film: '{{l.film}}' </li>
             <li> le nom de l'acteur est: '{{l.nom}}' </li>
             <li> Son prenom est: '{{l.prenom}}' </li>
             <li> l'acteur est agé de : {{l.age}} ans </li>
             <li> l'acteur aparait dans le film: '{{l.photos}}'</li>


        <div class="separ-button"><button><a href="/update-acteur/{{l.id}}/">Modifier</a></button><button><a href="/delete-acteur/{{l.id}}/">Supp</a></button></div>

        </article>
        {% endfor %}

{% endblock %}