{% extends "home.html" %}
{% block title %}

{% endblock %}
{% block content %}


        <h1>Voici la liste des personnes :</h1>
        <h2><a href="/personne/formulaire_personne">Ajouter une personne</a></h2>
    <div class="bloc-info">
        {% for l in personnes %}
        {{l}}<div class="separ-button"><button><a href="/affiche-personne/{{l.id}}/">AFFICHE</a></button><button><a href="/update-personne/{{l.id}}/">UPDATE</a></button><button><a href="/delete-personne/{{l.id}}/">DELETE</a></button></div>
        {% endfor %}
    </div>
{% endblock %}