{% extends "home.html" %}
{% block title %}
Categorie
{% endblock %}
{% block content %}
    <div>
        {% for a in liste %}
<article class="info_film">


        <li>-Le nom du film ' {{a.nom}} '.  </li> <br>
        <li>-Le titre  '{{a.titre}} '. </li><br>
        <li>-la date de sortie est le  {{a.annee_de_sortie}} . </li><br>
        <li>-affiche du film :{{a.affiche}}. </li><br>
        <li>-le realisateur est {{a.realisateur}}. </li><br>
        <li>-La categorie du film est' {{a.categorie}} '.  </li> <br>
   </article>

            <li>  <button name="supp"><a href="/categorie/main_categorie"> effacer  </a></button>
                <button name="upd"><a href="/update2/{{a.id}}"> update </a></button></li>
        <button><a href="/categorie/main_categorie">RETOUR</a></button>
    </div>

{% endfor %}
{% endblock %}
