
{% extends "home.html" %}
{% block title %}

{% endblock %}
{% block content %}
    Formulaire commentaire
    {% if id_commentaire == None %}
        <form method="post" action="/commentaire/formulaire_commentaire">
    {% else %}
        <form method="post" action="/updatetraitement-commentaire/{{id_commentaire}}/">
    {% endif %}
        {% csrf_token %}
    {{ form_commentaire.as_ul }}
    <input class="submit-input" type="submit" value="SEND"/>
            <button><a href="/main-commentaire">RETOUR</a></button>
{% endblock %}