

{% extends "home.html" %}
{% block title %}
commentaire
{% endblock %}
{% block content %}

    <h2><a href="/commentaire/formulaire_commentaire">Ajouter un commentaire</a></h2>
{% for l in commentaires %}
    <article class="nomB">Voici la liste des commentaires:


    <div class="bloc-info">


             <li> film: '{{l.film}}' </li>
             <li>  nom de la personnes du commentaire:{{l.personnes}} </li>
            <li> note sur 10: '{{l.note}}' </li>
             <li> Despcription du commentaire:{{l.commentaire}} </li>
            <li> Date du commentaire:{{l.date}} </li>

     <div class="separ-button"><button><a href="/affiche-commentaire/{{l.id}}/">AFFICHE</a></button><button><a href="/update-commentaire/{{l.id}}/">UPDATE</a></button><button><a href="/delete-commentaire/{{l.id}}/">DELETE</a></button></div>
            </div>
        </article>
        {% endfor %}

{% endblock %}