{% extends "home.html" %}
{% block title %}

{% endblock %}
{% block content %}
{% for l in films %}
         <h2><a href="/film/formulaire_film">Ajouter un film</a></h2>
        <article class="nomC">Voici la liste des films crées :

    <div class="bloc-info">


             <li> la categorie du film est film: '{{l.nom}}  {{categorie.nom}}' </li>
             <li class="descrip"> Despcription de la categorie :{{l.descriptif}} </li>


        {{l}}<div class="separ-button"><button><a href="/affiche-film/{{l.id}}/">AFFICHE</a></button><button><a href="/update-film/{{l.id}}/">UPDATE</a></button><button><a href="/delete-film/{{l.id}}/">DELETE</a></button></div>
    </div>

            </article>

 {% endfor %}
{% endblock %}