{% extends "home.html" %}
{% block title %}

{% endblock %}
{% block content %}
<div class="FILM">


  <div class="FILMA">
        <article class="nomC">Voici la liste des films crées :


            <h2><a href="/film/formulaire_film">Ajouter un film</a></h2>
            {% for l in films %}



             <li> la categorie du film: '{{l.nom}}  {{categorie.nom}}' </li>
            <li> le nom du film: '{{l.nom}}' </li>
            <li> la date de sortie du film est: {{l.annee_de_sortie}}  </li>
            <li> affiche: {{l.affiche}}</li>
            <li> le resalisateur: '{{l.realisateur}}  </li>



        <div class="separ-button"><button><a href="/affiche-film/{{l.id}}/">AFFICHE</a></button><button><a href="/update-film/{{l.id}}/">UPDATE</a></button><button><a href="/delete-film/{{l.id}}/">DELETE</a></button></div>
  </div>

            </article>


 {% endfor %}
</div>
{% endblock %}

