{% extends "home.html" %}
{% block title %}

{% endblock %}
{% block content %}


        <h1>Voici la liste des films crées :</h1>
        <h2><a href="/film/formulaire_film">Ajouter un film</a></h2>
    <div class="bloc-info">
        {% for l in films %}
        {{l}}<div class="separ-button"><button><a href="/affiche-film/{{l.id}}/">AFFICHE</a></button><button><a href="/update-film/{{l.id}}/">UPDATE</a></button><button><a href="/delete-film/{{l.id}}/">DELETE</a></button></div>
        {% endfor %}
    </div>


{% endblock %}