*{
font-family:arial;

}
body{

    background-color:#888888;
    background-size:cover;
    width: 100%;
    padding: 0%;
    margin: 0%;
    }

html{

    scroll-behavior: smooth;
    margin:0;
}



nav{

    position: sticky;
    top: 0;

}

a{

    text-decoration: none;}

.oriantationpage>button{

    margin-left:12%;
    margin-top:5px
}

.oriantationpage>button>a{

    font-size:55px;

}

.oriantationpage{

    background-color:#202020 ;
    display:flex;
    justify-content:space-between;
    align-items:center;


}

.onglet{

}
.list{

    list-style-type:none;
}

.onglet .list{

    display:inline-block;
    padding:35px 25px;
}

.oriantationpage a{

    color:white;
    transition:0.3s;

}
.oriantationpage a:hover{
   color:red;
}


.info_film{
    padding-top:9px;
    background-color:#C8A54D;
    display:flex;
    margin-left:30%;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    margin-top:75px;
    width:40vw;
    border-radius:5px;
    padding-bottom: 50px;

}

.nom{
    padding-top:9px;
    background-color:#C8A54D;
    display:flex;
    margin-left:30%;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    margin-top:75px;
    width:40vw;
    border-radius:5px;
    padding-bottom: 50px;
    }

.nomB{
    padding-top:9px;
    background-color:#C8A54D;
    display:flex;
    margin-left:30%;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    margin-top:75px;
    width:40vw;
    border-radius:5px;
    padding-bottom: 50px;

}

.nomC{
    background-color:#C8A54D;
    display:flex;

    justify-content:center;
    flex-direction:column;
    align-items:center;


}

.nomD{
    padding-top:9px;
    background-color:#C8A54D;
    display:flex;
    margin-left:30%;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    margin-top:75px;
    width:40vw;
    border-radius:5px;
    padding-bottom: 50px;

}

.ajout{
    padding-top:9px;
    background-color:#C8A54D;
    display:flex;
    margin-left:30%;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    margin-top:75px;
    width:40vw;
    border-radius:5px;
    padding-bottom: 50px;

}

.FILM{
 display:grid;
 margin:20px;
 grid-template-columns:auto auto auto;
 background-color:#2196F3;
 padding:20px;

}

.FILMA{
 display:grid;
}



.info_acteur{
    background-color: red;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
    width: 65vw;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #558549;
    font-size:80 %;
        margin: auto;
        list-style: none;
}

.info_acteur li {
padding:1%;}




}

.info_commentaire{
    background-color: red;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
    width: 65vw;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #558549;
    font-size:80 %;
    margin: auto;
    list-style: none;
}

.formulaire_acteur{

    background-color: red;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
    width: 65vw;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #558549;
    font-size:80 %;
    margin: auto;
    list-style: none;
}